body {
    font-family: Arial, sans-serif;
    color: #000000; /* Change text color to white */
    margin: 0;
    padding: 0;
    background-image: url('bg3.jpeg');
    background-size: cover;
    background-position: center calc(50% - 25px); /* Shift the background image up by 400 pixels */
    /* background: linear-gradient(to bottom, #2ecc71, #ffffff); /* Green to white gradient */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #000000; /* Change text color to white */
    font-weight: bold;
}

header {
    background-color: #2ecc71; /* Green */
    color: #000000;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px 0;
    text-align: center; /* Center align the content within the container */
}

section {
    padding: 40px 0;
}

section h1 {
    color: #000000;
    text-align: center;
    margin-bottom: 20px;
}

section h2 {
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
}

section p {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input, form textarea {
    margin-bottom: 10px;
    color: #000000; /* Change form text color to white */
}

form label {
    margin-bottom: 10px;
    color: #000000; /* Change form text color to white */
}

button {
    background-color: #2ecc71; /* Green */
    color: #000000;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
}

iframe {
    margin: 0 auto;  
    display: block;
    border-style:none;
}
.centered {
    align-items: center;
    margin: auto;
    padding: 20px 0;
    text-align: center; /* Center align the content within the container */
}